html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.reviewer-img {
  border-radius: 24px;
  width: 40px;
  height: 40px;
}

.reviews-container {
  /* max-width: 100%; */
  width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}

.reviews-item {
  border-radius: 16px;
  padding: 32px;
  width: 320px;
  height: 296px;
  background-color: lightgrey;
}
.reviews-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: black;
}
.reviewer {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  align-items: center;
}

.reviews-title {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: black;
}

.reviewer-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--black);
  text-align: center;
}

.reviews-navigation {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 24px;
}

.reviews-navigation-btn {
  display: inline-flex;
  border: 1px solid rgba(41, 41, 41, 0.1);
  border-radius: 8px;
  padding: 12px;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .reviews-container {
    min-width: 768px;
    padding: 0 32px;
  }
  .reviews-title {
    margin-bottom: 60px;
  }
  .reviews-item {
    width: 704px;
  }
}
@media screen and (min-width: 1158px) {
  .reviews-container {
    min-width: 1280px;
    padding: 0 15px;
  }
  .reviews-item {
    width: 592px;
  }
  .reviews-title {
    margin-bottom: 80px;
  }
  .reviews-navigation-btn {
    width: 48px;
    height: 48px;
  }
}

.is-hidden {
  display: none;
}
